<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/bootstrap_css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/inicio/index.css" />

    <title>Citas Médicas</title>
  </head>
  <body>
    {{{body}}}

    <script src="/bootstrap_js/bootstrap.bundle.min.js"></script>
    <script src="/jquery/jquery.min.js"></script>

  </body>
</html>