.titulo_principal,
.titulo_secundario,
.titulo_terciario {
  font-family: "Merriweather", serif;
  font-weight: bold;
}

body {
  background-color: #eee;
  padding-block: 1rem 3rem;
}
section {
  background-color: white;
}

table {
  width: max-content !important;
  @media screen and (min-width: 768px) {
    width: 100% !important;
  }
}
